OF_PATH = ../../..
#include "../../../libs/openFrameworksCompiled/project/macos/CoreOF.xcconfig"

//CLANG_CXX_LANGUAGE_STANDARD = c++23
//CLANG_C_LANGUAGE_STANDARD = c17
//MACOSX_DEPLOYMENT_TARGET = 11.5
MARKETING_VERSION = 0.1.0
CURRENT_PROJECT_VERSION = 1

BUILD_ARCHS =
// Comment out next three lines to build universal or archive / send to app store
BUILD_ARCHS = -arch arm64
ARCHS = arm64
ONLY_ACTIVE_ARCH = YES

//OF_CODESIGN = 1
//OF_BUNDLE_DATA_FOLDER = 1
//OF_BUNDLE_DYLIBS = 1

PRODUCT_NAME = $(TARGET_NAME)
PRODUCT_NAME[config=Debug] = $(TARGET_NAME)Debug
PRODUCT_BUNDLE_IDENTIFIER = cc.openFrameworks.${TARGET_NAME:rfc1034identifier}
DEVELOPMENT_LANGUAGE = English
CODE_SIGN_IDENTITY = -
INFOPLIST_FILE = openFrameworks-Info.plist
GENERATE_INFOPLIST_FILE = YES
ENABLE_USER_SCRIPT_SANDBOXING=NO
HIGH_RESOLUTION_CAPABLE = YES
INFOPLIST_KEY_LSApplicationCategoryType = public.app-category.games

ICON_NAME = of.icns
ICON_NAME[config=Debug] = of_debug.icns
ICON_FILE = $(OF_PATH)/libs/openFrameworksCompiled/project/macos/$(ICON_NAME)

#include? "App.xcconfig"

OTHER_CFLAGS = $(OF_CORE_CFLAGS)
OTHER_LDFLAGS = $(OF_CORE_LIBS) $(OF_CORE_FRAMEWORKS)
HEADER_SEARCH_PATHS = $(OF_CORE_HEADERS)

OF_CORE_BUILD_COMMAND = xcodebuild $BUILD_ARCHS -project $OF_PATH/libs/openFrameworksCompiled/project/macos/openFrameworksLib.xcodeproj -target openFrameworks -configuration ${CONFIGURATION}
